{% extends 'base.html.twig' %}

{% block title %}New MapArt{% endblock %}

{% block body %}
    <h1>Create new MapArt</h1>

    {{ include('map_art/_form.html.twig') }}

    <a href="{{ path('app_map_art_index') }}">back to list</a>
{% endblock %}
