
<style>
 .btn-warning {
  background-color: #FF8C00; /* Replace with your preferred shade of dark orange */
  border-color: #FF8C00; /* Set the border color to match the background color */
  border-radius: 15px;
}


<form method="post" action="{{ path('app_reservations_delete', {'idRes': reservation.idRes}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.idRes) }}">
    <button class="btn btn-warning">Delete</button>
</form>
