{% extends 'base.html.twig' %}

{% block title %}New ProdCollect{% endblock %}

{% block body %}
    <h1>Create new ProdCollect</h1>

    {{ include('prod_collect/_form.html.twig') }}

    <a href="{{ path('app_prod_collect_index') }}">back to list</a>
{% endblock %}
